*{
    padding: 0px;
    margin: 0px;
}
ul,ol{
    list-style: none;
}
a,a:hover,a:focus{
    text-decoration: none;
    outline: 0px;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: nunito;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: montserrat_bold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
/* h1,h2,h3,h4,h5,h6,p,ol,ul,li{
    margin-top: 0;
    margin-bottom: 0;
} */
body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}   
/* header part starts */

 #navigation{
    background-color: brown;
}
 #navigation .container{
    background: red;
    
}

/*
header #navigation nav .navbar-nav .nav-item .nav-link{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 13px;
    transition: all linear 0.3s;
    padding: 0px 15px;
    line-height: 70px;
} */

/* header part ends */

/* banner part starts */
#banner{
    background: url(../images/header-bg.jpg)no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.banner_banner{
    background:rgba(000, 000, 000, 0.7)
}
h6{
    color: white;
    font-size: 1.5rem;
    font-family: montserrat_bold;
    padding-top: 70px;
    font-weight: 800;
    margin-top: 100px;
}
h2{
    color: white;
    font-size: 54px;
    font-family: montserrat_bold;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}
#banner .banner_banner .container p{
    color: white;
    font-size: 17px;
    font-family: montserrat;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-bottom: 255px;
}
#banner .banner_banner .container a{
    color: white;
    font-size: 13px;
    font-family: nunito;
    text-transform:uppercase;
    padding: 15px 32px; 
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 30px;
    position: relative;
    transition: all linear 0.3s;
}
#banner .banner_banner .container a {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #banner .banner_banner .container a:hover{
    background: white;
    color: black;
    font-weight: 600;
}
/* banner part ends */

/* about part starts */
img{
    margin-top: 100px;
    margin-bottom: 100px;

}
#about .container h4{
    text-transform: capitalize;
    padding-top: 100px;
    padding-left: 30px;
    font-size: 2rem;
    margin-bottom: 20px;
}
#about .container h4 strong{
    font-weight: 600;
    font-family: montserrat_bold;
}
#about .container h5{
    text-transform: capitalize;
    padding-left: 30px;
    font-size: 2rem;
    margin-bottom: 20px;
}
#about .container h5 strong{
    font-weight: 600;
    color: #e65f78;
    font-family: montserrat_bold;
}
#about .container p{
    color: #6c757d;
    font-size: 16px;
    font-family: nunito;
    padding-left: 30px;

}
svg.svg-inline--fa.fa-globe.fa-w-16 {
    margin-left: 30px;
    border: 2px solid #6c757d;
    font-size: 36px;
    padding: 8px;
    border-radius: 50%;
    color: black;
    margin-top: 10px;
}
svg.svg-inline--fa.fa-globe.fa-w-16:hover{
    border-color: #e65f78;
    transition: all linear 0.3s;
}
.svg-inline--fa.fa-w-16 {
    border: 2px solid #6c757d;
    font-size: 36px;
    padding: 8px;
    border-radius: 50%;
    color: black;
    margin-top: 10px;
}
.svg-inline--fa.fa-w-16:hover{
    border-color: #e65f78;
    transition: all linear 0.3s;
}
.svg-inline--fa.fa-w-14 {
    border: 2px solid #6c757d;
    font-size: 36px;
    padding: 8px;
    border-radius: 50%;
    color: black;
    margin-top: 10px;
}
.svg-inline--fa.fa-w-14:hover{
    border-color: #e65f78;
    transition: all linear 0.3s;
}
svg:not(:root).svg-inline--fa {
    margin: 2px;
}
/* about part ends */