*{
    padding: 0px;
    margin: 0px;
}
ul,ol{
    list-style: none;
}
a,a:hover,a:focus{
    text-decoration: none;
    outline: 0px;
}
a{
    text-decoration: none;
}
@font-face{
    font-family: nunito;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: montserrat_bold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
 h1,h2,h3,h4,h5,h6,p,ol,ul,li{
    margin-top: 0;
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}   
/* header part starts */

 #navigation{
    background-color: brown;
}
 #navigation .container{
    background: red;
    
}

/*
header #navigation nav .navbar-nav .nav-item .nav-link{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 13px;
    transition: all linear 0.3s;
    padding: 0px 15px;
    line-height: 70px;
} */

/* header part ends */

/* banner part starts */
#banner{
    background: url(../images/header-bg.jpg)no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.banner_banner{
    background:rgba(000, 000, 000, 0.7)
}
#banner h6{
    color: white;
    font-size: 1.5rem;
    font-family: montserrat_bold;
    padding-top: 70px;
    font-weight: 800;
    margin-top: 100px;
}
#banner h2{
    color: white;
    font-size: 54px;
    font-family: montserrat_bold;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}
#banner .banner_banner .container p{
    color: white;
    font-size: 17px;
    font-family: montserrat;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-bottom: 255px;
}
#banner .banner_banner .container .button{
    color: white;
    font-size: 13px;
    font-family: nunito;
    text-transform:uppercase;
    padding: 15px 32px; 
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 30px;
    position: relative;
    transition: all linear 0.3s;
}
#banner .banner_banner .container .button {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #banner .banner_banner .container .button:hover{
    background: white;
    color: black;
    font-weight: 600;
}
/* banner part ends */

/* about part starts */
#about .container img{
    margin-top: 100px;
    margin-bottom: 100px;
}
#about .container h4{
    text-transform: capitalize;
    padding-top: 100px;
    padding-left: 30px;
    font-size: 2rem;
    margin-bottom: 20px;
}
#about .container h4 strong{
    font-weight: 600;
    font-family: montserrat_bold;
}
#about .container h5{
    text-transform: capitalize;
    padding-left: 30px;
    font-size: 2rem;
    margin-bottom: 20px;
}
#about .container h5 strong{
    font-weight: 600;
    color: #e65f78;
    font-family: montserrat_bold;
}
#about .container p{
    color: #6c757d;
    font-size: 16px;
    font-family: nunito;
    padding-left: 30px;
    padding-bottom: 25px;
}
#about .container a .mn1{
    color: black;
    margin-left: 30px;
    margin-right: 5px;
    border: 2px solid #6c757d;
    font-size: 40px;
    border-radius: 50%;
    padding: 8px;
    transition: all linear 0.3s;
}
#about .container a .mn1:hover{
    border-color:#e65f78;
}
#about .container a .mn2{
    color: black;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid #6c757d;
    font-size: 40px;
    border-radius: 50%;
    padding: 8px;
    transition: all linear 0.3s;
}
#about .container a .mn2:hover{
    border-color:#e65f78;
}
#about .container a .mn3{
    color: black;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid #6c757d;
    font-size: 40px;
    border-radius: 50%;
    padding: 8px;
    transition: all linear 0.3s;
}
#about .container a .mn3:hover{
    border-color:#e65f78;
}
#about .container a .mn4{
    color: black;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid #6c757d;
    font-size: 40px;
    border-radius: 50%;
    padding: 8px;
    transition: all linear 0.3s;
}
#about .container a .mn4:hover{
    border-color:#e65f78;
}

/* about part ends */

/* serices part starts */
#services{
    background: #f9f9f9;
}
#services .container .service{
    padding-top: 80px;
    text-transform: capitalize;
    font-size: 32px;
    font-family: montserrat_bold;
    padding-bottom: 20px;
}
#services .container .text_p{
    font-size: 16px;
    font-family: nunito;
    padding-bottom: 70px;
}
 .border-serve{
    margin-bottom: 30px;
} 
.border4{
    border: 1px solid #6c757d;
    margin-left: 30px;
    border-radius: 5px;
}
.border2{
    border: 1px solid #6c757d;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}
.border3{
    border: 1px solid #6c757d;
    margin-right: 30px;
    border-radius: 5px;
}
#services .container h4{
    padding-top: 20px;
    padding-bottom: 30px;
    text-transform: capitalize;
    font-family: montserrat_bold;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}
#services .container h4:after{
    position: absolute;
    content: '';
    bottom: 15px;
    left: 150px;
    width: 50px;
    height: 2px;
    background-color: #e65f78;

}
#services .container p{
    padding-bottom: 30px;
    font-family: nunito;
    font-size: 16px;
    color: #6c757d;
    font-size: 16px;
}
#services .container a {
    font-size: 50px;
    color:#e65f78;
    padding-top: 30px;
} 
/* serices part ends */

/* hire me  part starts */
#hire_me .container h3{
    text-transform: capitalize;
    font-size: 32px;
    color: black;
    font-family: montserrat_bold;
    font-weight: 600;
    padding-top: 70px;
    padding-bottom: 20px;
}
#hire_me .container a{
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    background-color: #e65f78;
    margin-bottom: 70px;
}
/* hire me  part ends */

/* our clients part starts */
#clients{
    background-color: #f9f9f9;
}
#clients .container h3{
    font-size: 32px;
    font-family: montserrat;
    font-weight: 600;
    padding-top: 70px;
    text-transform: capitalize;
    padding-bottom: 20px;
}
#clients .container h3 strong{
    font-family: montserrat_bold;
}
#clients .container p{
    font-size: 16px;
    color: #6c757d;
    font-family: nunito;
    padding-bottom: 60px;
}
/* our clients part ends */

/* works part starts */
#works{
    background-color: #f9f9f9;
}
#works .container h3{
    font-size: 32px;
    font-family: montserrat;
    font-weight: 600;
    padding-top: 70px;
    text-transform: capitalize;
    padding-bottom: 20px;
}
#works .container h3 strong{
    font-family: montserrat_bold;
}
#works .container p{
    font-size: 16px;
    color: #6c757d;
    font-family: nunito;
    padding-bottom: 60px;
}
/* works part ends */


/* blog part starts */
#blog{
    background-color: #f9f9f9;
}
#blog .container h3{
    font-size: 32px;
    font-family: montserrat;
    font-weight: 600;
    padding-top: 70px;
    text-transform: capitalize;
    padding-bottom: 20px;
}
#blog .container h3 strong{
    font-family: montserrat_bold;
}
#blog .container p{
    font-size: 16px;
    color: #6c757d;
    font-family: nunito;
    padding-bottom: 60px;
}
#blog-sec{
    background-color: #F8F9FA;
    padding-bottom: 100px;
}
#blog-sec .sec1{
    background-color: #fff;
    border-radius: 5px;
}
#blog-sec .sec2{
    background-color: #fff;
    border-radius: 5px;
}
#blog-sec .sec3{
    background-color: #fff;
    border-radius: 5px;
}
#blog-sec .sec1 img{
    width: 340px;
    height: 215px;
    margin-left: 8px;
    margin-top: 8px;
}
#blog-sec .sec2 img{
    width: 340px;
    height: 215px;
    margin-left: 8px;
    margin-top: 8px;
}
#blog-sec .sec3 img{
    width: 340px;
    height: 215px;
    margin-left: 8px;
    margin-top: 8px;
}
#blog-sec .sec1 h4{
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-family: montserrat_bold;
}
#blog-sec .sec2 h4{
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-family: montserrat_bold;
}
#blog-sec .sec3 h4{
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-family: montserrat_bold;
}
#blog-sec .sec1 h6{
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: nunito;
}
#blog-sec .sec1 h6 strong{
    color: #e65f78;
}
#blog-sec .sec2 h6{
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: nunito;
}
#blog-sec .sec2 h6 strong{
    color: #e65f78;
}
#blog-sec .sec3 h6{
    padding-left: 25px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    font-family: nunito;
}
#blog-sec .sec3 h6 strong{
    color: #e65f78;
}
#blog-sec .sec1 p{
    padding-left: 20px;
    text-transform: capitalize;
    font-family: nunito;
    font-size: 14px;
    padding-bottom: 16px;
}
#blog-sec .sec1 a{
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 14px;
    color: #6c757d;
    font-weight: 700;
    padding-bottom: 16px; 
}
#blog-sec .sec2 p{
    padding-left: 20px;
    text-transform: capitalize;
    font-family: nunito;
    font-size: 14px;
    padding-bottom: 16px;
}
#blog-sec .sec2 a{
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 14px;
    color: #6c757d;
    font-weight: 700;
    padding-bottom: 16px; 
}
#blog-sec .sec3 p{
    padding-left: 20px;
    text-transform: capitalize;
    font-family: nunito;
    font-size: 14px;
    padding-bottom: 16px;
}
#blog-sec .sec3 a{
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 16px;
    color: #6c757d;
    font-weight: 700;
    padding-bottom: 16px !important; 
}
/* blog part ends */


/* contact part starts */
#contact{
    background-color: #fff;
}
#contact .container h3{
    font-size: 32px;
    font-family: montserrat;
    font-weight: 600;
    padding-top: 70px;
    text-transform: capitalize;
    padding-bottom: 20px;
}
#contact .container h3 strong{
    font-family: montserrat_bold;
}
#contact .container p{
    font-size: 16px;
    color: #6c757d;
    font-family: nunito;
    padding-bottom: 60px;
}
#contact .container a{
    font-size: 50px;
    margin-bottom: 15px;
    color: #e65f78;
}
#contact .container h4{
    font-size: 20px;
    font-family: montserrat_bold;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 5px;
}
/* #contact .container .text{
    font-size: 16px;
    color: #6c757d;
    font-family: nunito;
    padding-bottom: 30px;
} */
/* blog part ends */

/* form part start */
.form-control{
    line-height: 2.5;
}
.text-uppercase{
    background: #E65F78;
    font-weight: 600;
    color:#fff;
    font-family: montserrat_bold;
    padding: 15px 32px;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 100px;
}
.text-uppercase:hover{
    color: #fff;
}
/* form part ends */